<div class="showcase">
    <div class="bio-container">
        <div class="bio">
            <h3>Quien Soy?</h3>
            <br><br>
            <p>Soy un entrenador personal con solida experiencia, tanto a nivel amateur como de alto rendimiento<br><br>
                Decidi realizar un sitio web donde ustedes puedan encontrar contenido de calidad para mejorar y potenciar su condicion fisica y mental
            </p>
            <br><br>
            <p>Para ello, convoque a un grupo de profesionales los cuales les brindaran asesoramiento, conocimiento y soluciones a sus inquietudes<br><br>
                Deseamos que tu estadia con nostros sea de tu agrado y te invitamos a que nos dejes
                tu comentario sobre tu experiencia en nuestro sitio.
                </p>
                <br>
            <p class="resaltado">SEAN BIENVENIDOS Y QUE COMIENCE LA TRANSFORMACION DE TU MEJOR VERSION
                </p>
        </div>
        <div class="bio-img" id="pic-bio">
            <img src="../../../../assets/img//foto-perfil.jpg" title="" alt="">
        </div>
    </div>

</div>
