<div class="bodys">

  

    <!------------------HEADER--------------------------------------------->
 
  <!---------------------SLIDER--------------------------------------------->
  <app-slider></app-slider>
    <!--MAIN--------------------------------------------------------------------------------------------------------------------->
  <app-main></app-main>
  <!--BLOG--------------------------------------------------------------------------------------------------------------------->
  <app-blog></app-blog>

  
    <!--FOOTER----------------------------------------------------------------------------------------------------------------------------->
  <app-footer></app-footer>
  
  </div>
  
