<div class="signin text-center">

    <form class="form-signin was-validated" #f="ngForm" novalidate>
        <h3 class="mb-3 font-weight-normal">Login</h3>
        <div class="form-group">
            <input class="form-control mt-3" type="text" placeholder="Usuario" name="usuarioLogin"
                [(ngModel)]="listaUsuario.usuario" pattern="(?=.*[A-Za-z]).{2,10}" #usuarioLogin="ngModel" required>
            <div *ngIf="!usuarioLogin.value && usuarioLogin.touched" class="invalid-feedback"> Error en el campo de
                usuario</div>
            <div *ngIf="usuarioLogin.errors?.['required'] && usuarioLogin.touched" class="invalid-feedback"> Este campo
                es obligatorio</div>

            <input class="form-control mt-3" type="password" placeholder="Contraseña" name="passwordLogin"
                [(ngModel)]="listaUsuario.password" #passwordLogin="ngModel" required>
            <div *ngIf="passwordLogin.errors?.['required'] && passwordLogin.touched" class="invalid-feedback"> Este
                campo es obligatorio</div>
        </div>
        <div *ngIf="mensajeLogin" [class]="'alert ' + (validarLogin ? 'alert-success' : 'alert-danger') + ' mt-3'">{{mensajeLogin}}</div>

        <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block mt-3" type="submit" (click)="onSubmit(f)">
            Ingresar</button>
        <a routerLink="registro">
            <button class="btn btn-lg btn-success btn-block mt-3" type="submit" (click)="onRegistroClick()">
                Registrarse</button></a>
    </form>

</div>