<div class="container-link">
  <ul class="ul-logo">
    <li>
      <a href="#">
        <img src="assets/img/instagram logo.png" alt="Matias Amir Icono" class="logo-footer">
      </a>
    </li>
    <li class="li-description">
      <a href="#" class="description">Personal trainer profesional  Entrenador de alto rendimiento</a>
    </li>
  </ul>
  <div class="colaboracion">
    <h2>En colaboracion</h2>
    <div class="contain-img">
      <a href="https://www.espacioaktivarse.com/?v=80a3b58aca6f" title="aktivarse" target="_blank" rel="noopener"><img src="../../../../../assets/img/cropped-logo1.png" alt="" ></a>
      <a href="#" title="aktivarse" target="_blank" rel="noopener"><img src="../../../../../assets/img/bmr.jpg" alt=""></a>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="copyright">
  <h3>Copyright Matias Amir</h3>
</div>
  <div class="ng">
    <h4>Design by:</h4>
  <a href="#0"><img src="../../../../../assets/img/ng.png" alt="ng-design" target="_blank" rel="noopener"></a>
  </div>
</footer>