


/*SHOWCASE*/
.showcase{
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
    font-family: azonix, Helvetica, sans-serif;

}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 3%;
    border-radius: 25px;
    padding: 4%;
    border: 2px solid grey;
    box-shadow: 5px 2px 100px 1px rgba(64,63,65,0.7);
    transition: all 500ms;
    
}

.contenedor:hover{

    box-shadow: 5px 2px 100px 35px rgba(64,63,65,0.7)
    
}


.btns{
    display: flex;
    justify-content: space-between;

}



.btns a{
    background: rgb(87, 87, 87);
    border: none;
}

.btns a:hover{

    background: rgba(87, 87, 87, 0.452);
}


.bio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
    transition: all 500ms;
    
}



.bio-container:hover .bio{
    color: white;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 25px 0 0 25px;
    padding: 2%;
    color: #979494;
    overflow-y: scroll;
    transition: all 600ms;
}

.bio h3{
    cursor: pointer;
}

.bio p{
 
    line-height: 25px;
    
}

.bio::-webkit-scrollbar {
    display: none;
}

.bio-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 25px 25px 0;

}

.bio-img video{

    object-fit:cover;
    width: 80%;
    border-radius: 20px;
}

.gallery{

    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.carousel{
    width: 50%;
}


.carousel-item img{

    object-fit: cover;
    border-radius: 15px;
}


.carousel-control-next span i, .carousel-control-prev span i{

    font-size: 100px;
    color: rgb(0, 0, 0);
}

.carousel-control-next span i:hover, .carousel-control-prev span i:hover{

    font-size: 100px;
    color: rgb(255, 255, 255);
}



.gallery-wrap{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}






/* PANTALLAS PEQUEñAS*/
@media screen and (max-width: 1279px){

    .carousel{

        width: 80%;
    }
    

}

@media screen and (max-width: 750px){
    .gallery-wrap {

    
      width: 100%;

    }

    .carousel{

        width: 80%;
    }

    .carousel-control-next span i, .carousel-control-prev span i{

        font-size: 50px;

    }
    
    .carousel-control-next span i:hover, .carousel-control-prev span i:hover{
    
        font-size: 50px;

    }
    
    
}

@media screen and (max-width: 500px){
    .gallery-wrap {
      width: 100%;
    }
    .bio-container{
        margin: 2px;
        padding: 2px;
        
    }

    .bio{
        font-size: 8px;
        padding: 0;
        border-radius: 0;
       
    }

    .bio h3{

        font-size: 10px;
    }

    .btns {
      display: none;
    }

    .carousel{

        width: 80%;
    }
    


}