<div class="showcase">
    <div class="contenedor">
        <div class="btns">
            <a routerLink="/en-casa" class="btn btn-primary" >En Sala</a>
            <a routerLink="/entrenamientos" class="btn btn-primary">A aire libre</a>
        </div>
        <div class="bio-container">
            <div class="bio">
                <h3 id="titulo">Alto Rendimiento</h3>
                <br><br>
                <p>Vinculando el alto rendimiento al estado físico en general, podemos decir que es
                    la búsqueda de potenciar nuestras habilidades con el fin de optimizar nuestra
                    participación en competencias o actividades deportivas.
                    Nuestro seguimiento abarca mas que la planificación de las actividades
                    físicas...ya que estamos convencidos de que para ser atletas de élite se debe
                    potenciar nuestra nutrición, descanso y comprensión de nuestras emociones.
                    Éste último se encuentra en el podio de “ habilidades a potenciar “, ya que
                    comprender nuestras emociones son la clave para ser constantes en el proceso
                    y comenzar a comprender que la inteligencia también es moverse con estrategia.
                </p>
            </div>
            <div class="bio-img" id="pic-bio">
                <video controls autoplay>
                    <source src="../../../assets/img/alto-rendimiento/Alto-rendimiento.mp4" type="video/mp4">
                </video>
            </div>
            <div class="gallery-wrap">
                <div class="gallery">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <ng-container *ngFor="let img of altoRendimientoJson; let i = index ">
                            <div class="carousel-item" [class.active]="i===0">
                                <img src="{{url}}/mostrar-altoRendimiento/{{img.imagen}}"  class="d-block w-100" alt="'Slide' + (1+1)">
                            </div>
                        </ng-container>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span aria-hidden="true"><i class="fa-solid fa-caret-left"></i></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span aria-hidden="true"><i class="fa-solid fa-caret-right"></i></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

